

*
{ background-color:   ;
  overflow-wrap: break-word;
  flex-direction: column;
  font-family: sans-serif;
  align-content: center;

}










  .question{
   font-weight: bold;
   text-align: center;
   font-size: 1.2em;
 }





h1 {


     font-weight: bold;
     font-style: normal;
     text-align: center;
     color: black;
     font-size: 2.2em;
     padding: 25px;

 }





button {
  width: 130px;
  height: 45px;
  font-family:  sans-serif;
  font-weight: 250;
  font-style: normal;
  text-align: center;
  font-size: .8em;
  background-color: ;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;

  margin-right: 20px;
  margin-bottom: 550px;
  padding: 1em;
  justify-content: center;
  align-items: center;

}

input {
  width: 290px;
  height: 15px;
  font-family:  sans-serif;
  font-weight: 250;
  font-style: normal;

  font-size: .8em;
  background-color: ;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;

  margin-bottom: 20px;
  padding: 1em;
  justify-content: center;
  align-items: center;

}











img {
    width: 70%;
    height: auto;
    display: block;
    padding: 3em;
    margin: auto;
    display: block;
    margin-top: -79px;

 }


 .pic {
   text-align: center;
 }
