

*
{ background-color:   ;
  overflow-wrap: ;
  flex-direction: column;


  padding: 7px;

}









h1 {


     font-weight: bold;
     font-style: normal;
     text-align: center;
     color: black;
     font-size: 2.2em;
     padding: 25px;

 }



  p {
   align-items: center;
   font-size: 3vw;
   margin-left: 20px;
   margin-bottom: -2.5vw;

 }





 button{
   width: 160px;
   height: 34px;
   font-family: tomarik-display-shadow, sans-serif;
   font-weight: 500;
   font-style: normal;
   text-align: center;
   font-size: .9em;
   background-color: 6;
   border: 1.5px solid black;
   border-radius: 5px;
   display: inline-block;
   margin-left: 8px;
   margin-right: px;
   margin-bottom: 50px;
   padding: 1em;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

 }

 button:hover {
     border-color: black;
     color: white;
     background-color: black;
 }


  .buttoncontainer {
    width: 100%;
     height: auto;
     font-family: tomarik-display-shadow, sans-serif;
     font-weight: 500;
     font-style: normal;
     text-align: ;
     font-size: 1.2em;

     background-color:;
     vertical-align: middle;
     line-height: 15px;
     border-radius: 5px;
     margin-top: .8em;

  }



 input {
  width: 400px;
  height: 4px;
  font-family: tomarik-display-shadow, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: ;
  font-size: .9em;
  background-color:;
  border: 1.2px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-left: px;
  margin-right: px;
  margin-bottom: 15px;
  padding: 1em;
 justify-content: center;
 align-items:
 vertical-align: middle;


}



img {
    width: 70%;
    height: auto;
    display: block;
    padding: 3em;
    margin: auto;
    display: block;
    margin-top: -79px;
    margin-bottom: -70px;

 }
