body{
    background-color: #89CFF0;

}

h1{
    color:;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 30px;
    font-size: 30pt;
    width: 70vw;
    border: 4px dashed black;
    padding: 50px;
    margin: 20px;
    letter-spacing: 3px;
}

img
{
	padding:7px;
}

h2{
    color:;
    text-align: center;
    text-decoration: underline;
}

.divTable{
	display: table;
	width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    border: 1.5px solid;
    border-color: black;
		text-align: center;
		 grid-template-columns: auto auto auto;

}
.divTableRow {
	display: table-row;
    border: 1.5px solid;
    border-color: ;
}
.divTableHeading {
	background-color: ;
	display: table-header-group;
    border: 1.5px solid;
    border-color: rebeccapurple;
}
.divTableCell, .divTableHead {
	border: 1.5px solid black;
	display: table-cell;
	padding: 3px 10px;
    border: 1.5px solid;
    border-color: black;
		vertical-align: middle;
}
.divTableHeading {
	background-color: ;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: ;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

table, th, td {
    border: 1.5px solid;
    border-color: rebeccapurple;

  }

img {
  max-width: 150px;
}

.IntroTableRow {
font-weight: bold;
font-size: 20pt;
padding: ;
font-family: sans-serif;
letter-spacing: 2px;
}

 button {
   width:90px;
   height: 30px;
   font-weight: ;
   font-size: 12pt;
   border: 1.5px solid black;
   color: #F8F8F8;
   background-color: #0D0D0D;
 }

.IntroInput {
  padding-top: 15px;


}

.IntroBody{
  text-align: center;
}

input {
  background-color: #F8F8F8;
  border: 2px solid black;
}

 .EndTableCell {
   text-align: center;
   border: 3px solid black;
   padding:7px;
   line-height: 35px;
   font-size: 14pt;
   font-family: sans-serif;
   font-weight: ;
   margin-top: 45px;
 }

  .IntroTable {
    margin-top: 45px;
  }
