body{
    background-color:;
    width: ;
}

h1{
    color:;
    text-align: center;
}

img
{
	padding:7px;
}

h2{
    color:;
    text-align: center;
    text-decoration: underline;
}

.divTable{
	display: table;
	width: 99%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-color: black;
		text-align: center;
		 grid-template-columns: auto auto auto;

}
.divTableRow {
	display: table-row;
    border: 1px solid;
    border-color: ;
}
.divTableHeading {
	background-color: ;
	display: table-header-group;
    border: 1px solid;
    border-color: rebeccapurple;
}
.divTableCell, .divTableHead {
	border: 1px solid black;
	display: table-cell;
	padding: 3px 10px;
    border: 1px solid;
    border-color: black;
		vertical-align: middle;
}
.divTableHeading {
	background-color: ;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: ;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

table, th, td {
    border: 1px solid;
    border-color: rebeccapurple;

  }

img {
  max-width: 150px;
}
