
.divTable{
	width: 99%;
  grid-template-columns: auto auto auto;
	vertical-align: middle;


}
.divTableRow {
	display: inline-flex;
}

 td {
	text-align: center;
	width: 200px;
	height: 200px;
	border: 2px solid black;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

img {
	padding: 16px;
}
